.App {
  text-align: center;
  min-height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.animated-gif{
  width: 1920px;
  height: auto;
  /*image-rendering: crisp-edges;*/
  image-rendering: pixelated;
}

/*webcam {*/
/*  -webkit-transform: scaleX(-1);*/
/*  transform: scaleX(-1);*/
/*}*/